unversioned*
**/*.aux
**/*.bbl
**/*.blg
**/*.log
**/*.mp
**/*.out
**/*.synctex.gz
**/*.top
**/*.tui 
tmp
.DS_Store
tensorboard
main.pdf
*.pyc
*.p
*.pickle
*.fdb_latexmk
*.fls
.vscode

# notebooks
**/.ipynb_checkpoints
**/Untitled*.ipynb
**/_*.ipynb
**/.vscode
**/.DS_Store

# /data
**/*.gz
**/*.zip
**/*.gt
**/*.pkl
**/*.json


# /figures
figures/.DS_Store

# /logs
